<a href="https://colab.research.google.com/github/ahams/analyticApproach/blob/master/BankNiftyIndexLevel_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext rpy2.ipython

In [ ]:
#Copy it in your working directory
!cp /content/drive/MyDrive/src/library.tar.gz
!du -sh /content/drive/MyDrive/src/library.tar.gz
#Extract installed packaged from the zipped file
!tar xf /content/drive/MyDrive/src/library.tar.gz

#/content/drive/MyDrive/src/library.tar.gz

cp: missing destination file operand after '/content/drive/MyDrive/src/library.tar.gz'
Try 'cp --help' for more information.
1.2M	/content/drive/MyDrive/src/library.tar.gz
tar: Removing leading `/' from member names

In [ ]:
%%R
#Extract the installed packages from the zipped file.
.libPaths('usr/local/lib/R/site-library/')

In [ ]:
import requests
import numpy as np
import pandas as pd
from datetime import datetime
import json
import time
from time import time, sleep



# thing to run
baseurl="https://www.nseindia.com/"
url_bk = f"https://www.nseindia.com/api/equity-stockIndices?index=NIFTY%20BANK"
#https://stackoverflow.com/questions/63981362/python-requests-get-returns-response-code-401-for-nse-india-website

#https://www.youtube.com/watch?v=UIgplypH73I

headers_nse = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, '
                         'like Gecko) '
                         'Chrome/80.0.3987.149 Safari/537.36',
           'accept-language': 'en,gu;q=0.9,hi;q=0.8', 'accept-encoding': 'gzip, deflate, br'}
session_nse_bk = requests.Session()
request_nse_bk = session_nse_bk.get(baseurl, headers=headers_nse, timeout=5)
cookies_nse_bk = dict(request_nse_bk.cookies)
response_nse_bk = session_nse_bk.get(url_bk, headers=headers_nse, timeout=5, cookies=cookies_nse_bk)
js_nse_bk=response_nse_bk.json()
#   #jsp_nse=json.dumps(list(js_nse.values())[1]['data'])

In [ ]:
df_bk_in=pd.json_normalize(js_nse_bk['data'])

df_bk=df_bk_in[['symbol','identifier','open','dayHigh','dayLow','lastPrice','previousClose','change','pChange','ffmc','yearHigh','yearLow','totalTradedVolume','totalTradedVolume','nearWKH','nearWKL','perChange365d','perChange30d']]
# if getIndex =="NIFTY":
#   df_in=df_in[df_in['symbol']=="NIFTY 50"]
# else:
#   df_in=df_in[df_in['symbol']=="NIFTY BANK"] #"NIFTY BANK"
# seekcting relevant columns
# df_in=df_in[['open', 'dayHigh', 'dayLow','totalTradedVolume', 'totalTradedValue','previousClose']]
# df_curr=df1[['lastPrice']]
# print('Current Price:' ,df_curr.iloc[0,0])
print(df_bk)

        symbol     identifier      open   dayHigh    dayLow  lastPrice  \
0   NIFTY BANK     NIFTY BANK  35259.80  35308.15  35055.20   35075.70
1    KOTAKBANK   KOTAKBANKEQN   1724.00   1741.55   1723.40    1736.45
2     AXISBANK    AXISBANKEQN    680.00    682.95    677.20     681.80
3         SBIN        SBINEQN    487.75    492.45    487.30     488.75
4       AUBANK      AUBANKEQN    579.90    584.90    577.00     578.20
5   IDFCFIRSTB  IDFCFIRSTBEQN     34.00     34.25     33.85      34.00
6   BANKBARODA  BANKBARODAEQN    109.50    110.50    109.00     109.10
7    ICICIBANK   ICICIBANKEQN    764.75    764.75    757.30     758.80
8          PNB         PNBEQN     30.80     31.05     30.75      30.75
9   FEDERALBNK  FEDERALBNKEQN     99.20     99.65     97.90      98.05
10  BANDHANBNK  BANDHANBNKEQN    282.00    283.50    279.15     279.90
11    HDFCBANK    HDFCBANKEQN   1390.00   1394.20   1378.50    1379.15
12  INDUSINDBK  INDUSINDBKEQN    856.15    856.15    820.35     820.50

    previousClose  change  pChange          ffmc  yearHigh   yearLow  \
0        35132.25  -56.55    -0.16  1.916214e+08  41829.60  32155.35
1         1718.95   17.50     1.02  2.525153e+12   2253.00   1626.00
2          676.20    5.60     0.83  1.786098e+12    866.90    618.25
3          484.95    3.80     0.78  1.861036e+12    549.00    401.25
4          577.00    1.20     0.21  2.545323e+11    732.98    462.50
5           34.00    0.00     0.00  1.057245e+11     54.80     28.95
6          109.25   -0.15    -0.14  2.033897e+11    122.70     72.50
7          759.90   -1.10    -0.14  5.285307e+12    867.00    639.10
8           30.80   -0.05    -0.16  9.156761e+10     48.20     28.05
9           98.45   -0.40    -0.41  1.968258e+11    107.65     77.50
10         282.40   -2.50    -0.89  1.956010e+11    349.55    229.55
11        1391.80  -12.65    -0.91  6.105480e+12   1725.00   1271.60
12         847.05  -26.55    -3.13  5.514299e+11   1242.00    763.20

    totalTradedVolume  totalTradedVolume    nearWKH    nearWKL  perChange365d  \
0            30205009           30205009  16.146222  -9.082003           1.13
1              824121             824121  22.927208  -6.792743           1.23
2             3383335            3383335  21.351944 -10.279013          -9.03
3             3259783            3259783  10.974499 -21.806854          15.21
4              248887             248887  21.116538 -25.016216         -51.06
5             2828034            2828034  37.956204 -17.443869         -36.09
6             5714925            5714925  11.083945 -50.482759          30.96
7             2530518            2530518  12.479815 -18.729463          20.51
8             3891532            3891532  36.203320  -9.625668         -24.27
9             1682507            1682507   8.917789 -26.516129          16.47
10            1856431            1856431  19.925619 -21.934219         -13.18
11            2452994            2452994  20.049275  -8.457848          -6.38
12            1531942            1531942  33.937198  -7.507862         -17.46

    perChange30d
0           2.86
1          -2.82
2           2.90
3           5.71
4          -3.05
5           0.88
6           4.23
7           6.88
8           0.49
9           8.72
10        -15.02
11          4.07
12         -6.01

In [ ]:
!pip install xlrd --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 3.1 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [ ]:

Bindx_lst=pd.read_csv("/content/drive/MyDrive/Index_inputs/ind_niftybanklist.csv")

strike=pd.read_excel('/content/drive/MyDrive/Index_inputs/sos_scheme.xls')

In [ ]:
Bindx_lst

,Company Name,Industry,Symbol,Series,ISIN Code,Weightage
0,AU Small Finance Bank Ltd.,FINANCIAL SERVICES,AUBANK,EQ,INE949L01017,2.33
1,Axis Bank Ltd.,FINANCIAL SERVICES,AXISBANK,EQ,INE238A01034,11.52
2,Bandhan Bank Ltd.,FINANCIAL SERVICES,BANDHANBNK,EQ,INE545U01014,1.75
3,Federal Bank Ltd.,FINANCIAL SERVICES,FEDERALBNK,EQ,INE171A01029,1.70
4,HDFC Bank Ltd.,FINANCIAL SERVICES,HDFCBANK,EQ,INE040A01034,27.80
5,ICICI Bank Ltd.,FINANCIAL SERVICES,ICICIBANK,EQ,INE090A01021,22.62
6,IDFC First Bank Ltd.,FINANCIAL SERVICES,IDFCFIRSTB,EQ,INE092T01019,1.00
7,IndusInd Bank Ltd.,FINANCIAL SERVICES,INDUSINDBK,EQ,INE095A01012,5.91
8,Kotak Mahindra Bank Ltd.,FINANCIAL SERVICES,KOTAKBANK,EQ,INE237A01028,11.61
9,Punjab National Bank,FINANCIAL SERVICES,PNB,EQ,INE160A01022,1.28
10,Bank of Baroda,FINANCIAL SERVICES,BANKBARODA,EQ,INE976G01028,1.03
11,State Bank of India,FINANCIAL SERVICES,SBIN,EQ,INE062A01020,11.45

In [ ]:
df_bk

,symbol,identifier,open,dayHigh,dayLow,lastPrice,previousClose,change,pChange,ffmc,yearHigh,yearLow,totalTradedVolume,totalTradedVolume,nearWKH,nearWKL,perChange365d,perChange30d
0,NIFTY BANK,NIFTY BANK,35259.80,35308.15,35055.20,35075.70,35132.25,-56.55,-0.16,1.916214e+08,41829.60,32155.35,30205009,30205009,16.146222,-9.082003,1.13,2.86
1,KOTAKBANK,KOTAKBANKEQN,1724.00,1741.55,1723.40,1736.45,1718.95,17.50,1.02,2.525153e+12,2253.00,1626.00,824121,824121,22.927208,-6.792743,1.23,-2.82
2,AXISBANK,AXISBANKEQN,680.00,682.95,677.20,681.80,676.20,5.60,0.83,1.786098e+12,866.90,618.25,3383335,3383335,21.351944,-10.279013,-9.03,2.90
3,SBIN,SBINEQN,487.75,492.45,487.30,488.75,484.95,3.80,0.78,1.861036e+12,549.00,401.25,3259783,3259783,10.974499,-21.806854,15.21,5.71
4,AUBANK,AUBANKEQN,579.90,584.90,577.00,578.20,577.00,1.20,0.21,2.545323e+11,732.98,462.50,248887,248887,21.116538,-25.016216,-51.06,-3.05
5,IDFCFIRSTB,IDFCFIRSTBEQN,34.00,34.25,33.85,34.00,34.00,0.00,0.00,1.057245e+11,54.80,28.95,2828034,2828034,37.956204,-17.443869,-36.09,0.88
6,BANKBARODA,BANKBARODAEQN,109.50,110.50,109.00,109.10,109.25,-0.15,-0.14,2.033897e+11,122.70,72.50,5714925,5714925,11.083945,-50.482759,30.96,4.23
7,ICICIBANK,ICICIBANKEQN,764.75,764.75,757.30,758.80,759.90,-1.10,-0.14,5.285307e+12,867.00,639.10,2530518,2530518,12.479815,-18.729463,20.51,6.88
8,PNB,PNBEQN,30.80,31.05,30.75,30.75,30.80,-0.05,-0.16,9.156761e+10,48.20,28.05,3891532,3891532,36.203320,-9.625668,-24.27,0.49
9,FEDERALBNK,FEDERALBNKEQN,99.20,99.65,97.90,98.05,98.45,-0.40,-0.41,1.968258e+11,107.65,77.50,1682507,1682507,8.917789,-26.516129,16.47,8.72
10,BANDHANBNK,BANDHANBNKEQN,282.00,283.50,279.15,279.90,282.40,-2.50,-0.89,1.956010e+11,349.55,229.55,1856431,1856431,19.925619,-21.934219,-13.18,-15.02
11,HDFCBANK,HDFCBANKEQN,1390.00,1394.20,1378.50,1379.15,1391.80,-12.65,-0.91,6.105480e+12,1725.00,1271.60,2452994,2452994,20.049275,-8.457848,-6.38,4.07
12,INDUSINDBK,INDUSINDBKEQN,856.15,856.15,820.35,820.50,847.05,-26.55,-3.13,5.514299e+11,1242.00,763.20,1531942,1531942,33.937198,-7.507862,-17.46,-6.01

In [ ]:
strike=strike[['Symbol','Applicable Step value']].copy()
Bindx_order=['AUBANK','AXISBANK','BANDHANBNK','BANKBARODA','FEDERALBNK','HDFCBANK','ICICIBANK','IDFCFIRSTB','INDUSINDBK','KOTAKBANK','PNB','SBIN']
strike=strike[['Symbol','Applicable Step value']].copy()
strike=strike[strike.Symbol.isin(Bindx_order)]
strike=strike.set_index('Symbol')
Bindx_lst=Bindx_lst.set_index('Symbol')

In [ ]:
# df_bk=df_bk.set_index('symbol')
BNifty=pd.concat([Bindx_lst,df_bk],axis=1,join='inner')
# BNifty=pd.merge(Bindx_lst,df_bk,on=['Symbol','symbol'],how='inner')
# BNifty=pd.concat([BNifty,strike],join='inner',axis=1)
BNifty

Empty DataFrame
Columns: [Company Name, Industry, Series, ISIN Code, Weightage, symbol, identifier, open, dayHigh, dayLow, lastPrice, previousClose, change, pChange, ffmc, yearHigh, yearLow, totalTradedVolume, totalTradedVolume, nearWKH, nearWKL, perChange365d, perChange30d]
Index: []

[0 rows x 23 columns]

In [ ]:
# BNifty=BNifty.set_index('Symbol')
BNifty=pd.concat([BNifty,strike],join='inner',axis=1)
BNifty['Weightage']

Series([], Name: Weightage, dtype: float64)

In [ ]:
BNif_open=df_bk.iloc[0,5] # prev day close
BNif_open

35075.7

In [ ]:
def prevBNif(weightage):
    return (float(BNif_open)*weightage/100)
BNifty["PreviousDay"]=BNifty.apply(lambda x: prevBNif(float(x['Weightage'])),axis=1)
BNifty["Current"]=BNifty.apply(lambda x: float(x['PreviousDay'])*(1+float(x['pChange'])/100),axis=1)
# BNifty=BNifty.set_index('Symbol')

ValueError: ignored

In [ ]:
BNifty["Applicable Step value"]

In [ ]:
def PriceRound(LTP,StepValue):
    return int(StepValue * round(float(LTP)/StepValue))

In [ ]:
# strike=strike.set_index('Symbol')
# #strike=strike.set_index(str('Symbol'))
# BNifty=pd.concat([BNifty,strike],join='inner',axis=1)

BNifty['Rounded Price']=BNifty.apply(lambda x: PriceRound(x['lastPrice'],x['Applicable Step value']),axis=1)
def LowerBand(LTP,RoundedPrice,StepValue):
    if LTP > RoundedPrice:
        return RoundedPrice
    else:
        return RoundedPrice-StepValue
BNifty['Lower Band']=BNifty.apply(lambda x: LowerBand(float(x['lastPrice']),x['Rounded Price'],x['Applicable Step value']),axis=1)
def UpperBand(LB,StepValue):
    return LB+StepValue
BNifty['Upper Band']=BNifty.apply(lambda x: UpperBand(int(x['Lower Band']),int(x['Applicable Step value'])),axis=1)
BNifty['Band%']=BNifty.apply(lambda x:x['Applicable Step value']/x['Rounded Price'],axis=1)
BNifty['Dist from LB']=BNifty.apply(lambda x: float(x['lastPrice'])-x['Lower Band'],axis=1)
BNifty['Dist from UB']=BNifty.apply(lambda x: x['Upper Band']-float(x['lastPrice']),axis=1)
BNifty['Dist from LB%']=BNifty.apply(lambda x:(-x ['Dist from LB'])/float(x['lastPrice']),axis=1)
BNifty['Dist from UB%']=BNifty.apply(lambda x:x ['Dist from UB']/float(x['lastPrice']),axis=1)
BNifty['WorstCase']=BNifty.apply(lambda x:x['Current']*(1+float(x['Dist from LB%'])),axis=1)
BNifty['BestCase']=BNifty.apply(lambda x:x['Current']*(1+float(x['Dist from UB%'])),axis=1)

''' note the objective of the  below function is to ensure that if the stock is near the lower bound it would get taken
    else if the stock is near the UB it gets taken '''


def Likely(DistLB,DistUB,CurIdx):
    if  -DistLB<DistUB: # -ve sign added to distLB to make comparison pluasible,else LB would always be lower than UB
        return (1+DistLB)*CurIdx
    else:
        return (1+DistUB)*CurIdx
BNifty['Likely']=BNifty.apply(lambda x:Likely(x['Dist from LB%'],x['Dist from UB%'],x['Current']),axis=1)

# to count the number of scripts close to UB/LB
def countLikely(WorstCase,BestCase,Likely):
    if WorstCase == Likely:
        return "Near LB"
    else:
        return "Near UB"
BNifty['LikelyCount'] = BNifty.apply(lambda x:countLikely(x['WorstCase'],x['BestCase'],x['Likely']),axis=1)
print (BNifty[['PreviousDay','Current','WorstCase','BestCase','Likely']].sum().round(2))

print(BNifty.LikelyCount.value_counts())

In [ ]:
BNifty

In [ ]:
%%R -i df_bk
library(tidyverse)
library(kableExtra)
options(scipen = 999)#turn off scientific notations
# l_nse_bk<- js_nse_bk # READING PYTHON OBJECT In R
# #l_nse_bk <- url_py
# #dn_nse<-enframe(l_nse$records$data) # to convet it to df using tibble function

# #----- Note it is very tricky to get the data from json list----

# #----- use View(l_nse) function to get the structure of the json data( R list in this case)
# dn_nse_bk<-enframe(l_nse_bk$data[1:13])
# nse_out_bk<-dn_nse_bk %>% unnest_wider(value)

bk_nifty<- df_bk %>% select(symbol,identifier,open,dayHigh,dayLow,lastPrice,previousClose,change,pChange,ffmc,yearHigh,yearLow,totalTradedVolume,totalTradedVolume,nearWKH,nearWKL,perChange365d,perChange30d) %>% arrange(symbol)
# #d<-as.data.frame(unlist(dn$value))
# # this seem to work
# bk_nifty

In [ ]:
%%R

suppressMessages(library(readxl))
suppressMessages(library(plyr)) # rounding based on strike price only *** round_any() *** function seem to work in R
# the below file contains
Bindx_lst=read_csv("/content/drive/MyDrive/Index_inputs/ind_niftybanklist.csv")

strike=read_excel('/content/drive/MyDrive/Index_inputs/sos_scheme.xls')
Bindx_order=data.frame(bankstk=c('AUBANK','AXISBANK','BANDHANBNK','BANKBARODA','FEDERALBNK','HDFCBANK','ICICIBANK','IDFCFIRSTB','INDUSINDBK','KOTAKBANK','PNB','SBIN'))#,'RBLBANK'

Bank_nifty_in<-left_join(Bindx_lst,bk_nifty,by=c("Symbol" = "symbol"))
Bank_nifty<-left_join(Bank_nifty_in,strike,by=c("Symbol" = "Symbol")) %>% dplyr::rename(StepValue = "Applicable Step value")

op_BkIdx<-as.numeric(df_bk$lastPrice[1]) # getting current price

bk_likely<-Bank_nifty %>% mutate(RoundedPrice= plyr::round_any(lastPrice,StepValue)) %>% rowwise() %>% 
  mutate(OpWeightedVal=op_BkIdx*Weightage/100) %>% 
  mutate(Lowerband= ifelse(lastPrice > RoundedPrice,RoundedPrice,RoundedPrice-StepValue)) %>% 
  mutate(UpperBand = Lowerband+StepValue) %>% 
  mutate('Band%' = StepValue/RoundedPrice) %>% 
  mutate('Dist from LB' = lastPrice-Lowerband) %>% 
  mutate('Dist from UB' = UpperBand-lastPrice) %>% 
  mutate('Dist from LB%' = `Dist from LB`/lastPrice) %>% 
  mutate('Dist from UB%' = `Dist from UB`/lastPrice) %>% 
  mutate(WorstCase= OpWeightedVal*(1-`Dist from LB%`)) %>% 
  mutate(BestCase = OpWeightedVal*(1+`Dist from UB%`)) %>% 
  mutate(Likely= ifelse((-`Dist from LB%`<`Dist from UB%`),OpWeightedVal*(1+`Dist from LB%`),OpWeightedVal*(1+`Dist from UB%`))) %>% 
  mutate(NextPrice=ifelse(`Dist from LB`<`Dist from UB`,Lowerband,UpperBand)) %>% 
  mutate(Pts_impact_index =op_BkIdx*(1+(Weightage/100*((NextPrice-lastPrice)/lastPrice)))) %>% 
# from Sheldon Natenberg methodology page 450
  mutate(Delta_pts=Pts_impact_index-op_BkIdx)

bn_pred<-data.frame(Probable =sum(bk_likely$Likely),Optimistic=sum(bk_likely$BestCase),Pessimistic=sum(bk_likely$WorstCase))

In [ ]:
%%R
# Bindx_lst
# bk_likely
# # df_bk$lastPrice[1]
bn_pred

In [ ]:
%%R
suppressMessages(library(knitr))
suppressMessages(library(kableExtra))
bn_pred_tbl<-bk_likely %>% dplyr::select(3,6,8,9,10,11,12,26,27,28,29,31,32,35:40) %>% dplyr::arrange(desc(Weightage)) %>% 
mutate_if(is.numeric,~round(.,0)) 
#%>% 
  # mutate(NextPrice = ifelse(NextPrice < lastPrice,
  #                 cell_spec(NextPrice, "html", color = "red", bold = T),
  #                 cell_spec(NextPrice, "html", color = "green", italic = T))) 
  #  %>% 
  # #mutate(NextPrice = formattable::color_bar("lightgreen")(NextPrice)) %>% 
  # kable("html", escape = F) %>%
  # kable_styling("hover", full_width = F) %>% 
  # kable_paper(full_width = F)
  
 #mutate(cell_spec(NextPrice, color = ifelse(NextPrice > lastPrice, "green", "red"))) 

# bn_pred_tbl%>% kable("html")
# print(tbl_df(bn_pred_tbl),n=Inf)

# bn_pred_tbl

In [ ]:
df_python = %Rget bn_pred_tbl
# df_pred= %Rget bn_pred
df_python[["Symbol","Weightage","open","dayHigh","dayLow","lastPrice","previousClose","Dist from LB","Dist from UB","NextPrice","Delta_pts"]]

#df_python.style.applymap(color_negative_red, subset=['Likely','NextPrice'])

In [ ]:
df_pred= %Rget bn_pred
df_pred.round(0)

In [ ]:
bank_cur=%Rget df_bk
bank_cur.iloc[0,:]